/* App general */
.App {
  text-align: center;
  background-color: #6341B4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: #442D7C;
  /* Establece un alto para el encabezado */
  height: 100px;
  /* Establece un ancho para el encabezado */
  width: 100%;
  /* Agrega bordes redondeados */
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  font-family: 'Fraunces', serif;
}

/* Atributos de los niveles y contenedores de niveles */
.level-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.level {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
}

.level.locked {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Modal */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  width: 1024px;
  height: 500px;
  background-color: #F85ACA;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Grid del tablero */
.grid-container {
  display: grid;
  grid-template-rows: repeat(16, 4.5cm);
  grid-template-columns: repeat(9, 3.5cm);
  gap: 10px;
  justify-content: center;
  align-content: center;
  height: auto;
}

.grid-item {
  border: 1px solid #aca6a600;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  width: 3cm;
  height: 3cm;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Titulos y textos */
h1 {
  font-size: 60px;
  color: #DAFA8B; 
}

.puntos h1 {
  color: #F85ACA;
}

.puntuacion h1 {
  color: rgb(242, 223, 252);
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

/* Campeones */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.image-box {
  background-color: #DAFA8B;
  padding: 10px;
  margin-right: 10px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.image-box:hover {
  background-color: #F85ACA;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: #6341B4;
  font-family: 'Fraunces', sans-serif;
  font-size: 25px;
}

/* Estilo para figuras geométricas */
@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.geometric-shape {
  position: absolute;
  background-color: #ff66a3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: move 2s infinite;
}

/* Imagenes de las leyendas */
.regalito:hover {
  height: 100px;
  width: 500px;
}

/* Modal */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.custom-button {
  background-color: #DAFA8B;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}

.textarea-custom {
  word-wrap: break-word;
  width: 90%;
  height: 20%;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.custom-button:hover {
  background-color: #6341B4;
  color: #ffffff;
}